.design{
    height: 773px;
    background-color: #f2f5f7;
    padding-top: 111px;
    display: flex;
    justify-content: space-between;
}
.design__laptop{
    width: 927px;
    min-height: 747px;
    margin-left: auto;
    background-image: url("../../img/laptop.png");
    background-repeat: no-repeat;
}
.design__title{
    font-family: Myriad Pro;
    font-size: 50px;
    font-weight: normal;
    color: #505d68;
    line-height: 1.28;
    margin-bottom: 21px;
}
.design__lorem{
    line-height: 1.43;
    font-family: Ubuntu;
    font-size: 21px;
    font-weight: 500;
    max-width: 310px;
    display: block;
    color: #a1aeb7;
    margin-bottom: 41px;
}
.design__list{
    display: flex;
    flex-wrap: wrap;
}
.design__item{
    width: 165px;
    height: 183px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    padding: 0 13px;
}
.design__item:nth-child(2n+1){
    margin-right: 30px;
}
.design__item-img{
    margin-bottom: 15px;
    width: 41px;
    height: 34px;
}
.design__item-title{
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: normal;
    color: #505d68;
    margin-bottom: 17px;
}
.design__item-desc{
    color: #a1aeb7;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
}