.subscribe{
    display: flex;
}
.subscribe__email{
    border:1px #c2d1d9 solid;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 207px;
    height: 40px;
    padding-left: 9px;
    color: #c2d1d9;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: normal;
}
.subscribe__email::placeholder{
    color: #c2d1d9;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: normal;
}
.subscribe__button{
    width: 96px;
    height: 40px;
    background-color: #424b5a;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: normal;
    color: #ffffff;
    text-transform: uppercase;
}